<div class="myContainer div-config-dif-background">
  <h4 style="text-align: center">Welcome {{auth.getName()}}</h4>
  <br>

  <div class="options">
    <button class="btn btn-primary" (click)="openJoinGroupModal()">Join</button>
    <br>
    <button class="btn btn-primary" (click)="openCreateGroupModal()">Create</button>
    <br>
    <button class="btn btn-primary" (click)="openMakeTransferModal()">Transfer</button>
    <br>
    <button class="btn btn-primary" (click)="goToPaymentHistory()">Payment history</button>
    <br>
    <button class="btn btn-danger" (click)="logout()">Log out</button>
  </div>
</div>
