.myContainer {
  width: 20%;
}

.options {
  display: flex;
  justify-content: center;

  width: 100%;
}

.option{
  width: 100%;
}

@media screen and (max-width: 900px){
  .myContainer {
    width: 90%;
  }
}
