<div class="modal-header">
  <h2 style="text-align: center">Confirm payment</h2>
  <button class="btn-close" type="button" (click)="closeModal()"></button>
</div>
<div class="modal-body modal-body-centered">
  <h6>Are you sure to make the payment?</h6>
  <br>
  <h6>Total bill: {{groupState.getCurrentGroup().money}}</h6>
  <h6>Total bill/member ~ {{groupState.calculateTotalMoneyPerMember()}} {{auth.getCurrency().symbol}}</h6>
</div>
<div class="modal-footer payment-confirm-options">
  <button type="submit" class="btn btn-success" (click)="confirmPayment()">✓ Pay ✓</button>
  <button type="submit" class="btn btn-danger" (click)="closeModal()">✘ Cancel ✘</button>
</div>
