<div class="group-options-options" *ngIf="!groupState.isGroupInPayingState()">
  <div ngbDropdown class="dropdown dropleft" placement="bottom-right">
    <button ngbDropdownToggle class="group-option-button" type="button" id="dropdownMenuButton1">
      <i class="fa-solid fa-bars fa-2x"></i>
    </button>
    <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
      <li><a ngbDropdownItem (click)="openShareGroupModal()"><i class="fa-solid fa-share-nodes fa-1x"></i> Share</a></li>
      <li><a ngbDropdownItem (click)="leaveGroup()"><i class="fa-solid fa-arrow-right-from-bracket fa-1x"></i> Leave</a></li>
      <li *ngIf="groupState.isAdminOfCurrentGroup(auth.getUserId())" (click)="openEditGroupModal()"><a ngbDropdownItem><i class="fa-solid fa-pen-to-square fa-1x"></i> Edit</a></li>
    </ul>
  </div>
</div>
