<div class="modal-header">
  <h2 style="text-align: center">{{payment.description}}</h2>
  <button class="btn-close" type="button" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body modal-body-centered">
  <div *ngIf="isPaid()">
    Money: <span class="green">~ +{{roundNumber(payment.money)}}{{auth.getCurrency().symbol}}</span>
  </div>
  <div *ngIf="isPayer()">
    Money: <span class="red">~ -{{roundNumber(payment.money)}}{{auth.getCurrency().symbol}}</span>
  </div>
  <div *ngIf="payment.context == 'GROUP_PAYMENT' && isPaid()">Context: You were the admin of a group</div>
  <div *ngIf="payment.context == 'GROUP_PAYMENT' && isPayer()">Context: You were the member of a group</div>
  <div *ngIf="payment.context == 'TRANSFERENCE' && isPayer()">Context: You made a transfer</div>
  <div *ngIf="payment.context == 'TRANSFERENCE' && isPaid()">Context: You recieved money from a transfer</div>
  Date: {{payment.date.split("T")[0]}}<br>
  Description: {{payment.description}}<br>
  State: {{payment.state}}<br>
  <div *ngIf="payment.state == 'ERROR'">
    Reason of failure: {{payment.errorMessage}}
  </div>
  <br>
  <div *ngIf="payment.state == 'ERROR'">
    <br>
    <p class="red">This payment failed, it wasnt completed, reason: {{payment.errorMessage}}</p>
  </div>
</div>
<div class="modal-footer payment-confirm-options">
  <button type="submit" class="myButton myButton-footer" (click)="activeModal.dismiss()">✓ Ok ✓</button>
</div>
