<div class="group-container div-config-dif-background">
  <div class="group-options">
    <div class="group-options-stats">
      <h3>{{currentGroup().description}} - {{currentGroup().money}}</h3>
    </div>
    <div class="group-options-options">
      <button class="group-option-button" (click)="modalService.open(shareGroupModal)">
        <i class="fa-solid fa-share-nodes fa-2x"></i>
      </button>
      <button class="group-option-button" (click)="leaveGroup()">
        <i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i>
      </button>
    </div>
  </div>

  <div class="group-separator"><hr></div>

  <div class="group-members">
    <div *ngFor="let member of currentGroupMembers()">
      <div class="group-member">
        <div class="group-member-option">
          <button class="btn btn-danger"
                  [ngClass]="{'myDisabled disabled': !isLoggedUserAdminOfCurrentGroup() || isAdminOfCurrentGroup(member.userId)}"
                  (click)="kickGroupMember(member.userId)">
            x</button>
        </div>
        <div class="group-member-image">
          <img src="{{member.photoUrl}}" class="rounded-circle">
        </div>
        <div class="group-member-name">
          <h6 [ngClass]="{'red' : isAdminOfCurrentGroup(member.userId)}">{{member.username}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #shareGroupModal let-modal>
  <div class="modal-header">
    <h2 style="text-align: center">Share</h2>
    <button class="btn-close" type="button" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body modal-body-centered">
    <h5 style="text-align: center" id="groupIdToShare">{{currentGroup().groupId}}</h5>
  </div>
  <div class="modal-footer">
    <button type="submit" class="myButton myButton-footer" (click)="copyToClipboard(currentGroup().groupId)">Copy</button>
  </div>
</ng-template>
