<div class="group-container div-config-dif-background">
  <div class="group-options">
    <div class="group-options-stats">
      <div class="group-desc">
        <h3 class="group-desc">{{currentGroup().description}}- &nbsp;&nbsp;&nbsp;&nbsp;</h3>
      </div>
      <div class="group-data">
        <h3 *ngIf="!groupState.isGroupInPayingState()">Total {{currentGroup().money}}€ &nbsp;&nbsp;Total/Member ~ {{calculateTotalMoneyPerMember()}}€</h3>
        <h3 *ngIf="groupState.isGroupInPayingState()">Paying in progress...</h3>
      </div>
    </div>
    <div class="group-options-options" *ngIf="!groupState.isGroupInPayingState()">
      <div ngbDropdown class="dropdown dropdown-menu-right dropdown-menu-lg-left">
        <button ngbDropdownToggle class="group-option-button" type="button" id="dropdownMenuButton1">
          <i class="fa-solid fa-bars fa-2x"></i>
        </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
          <li><a ngbDropdownItem (click)="modalService.open(shareGroupModal)"><i class="fa-solid fa-share-nodes fa-1x"></i> Share</a></li>
          <li><a ngbDropdownItem (click)="leaveGroup()"><i class="fa-solid fa-arrow-right-from-bracket fa-1x"></i> Leave</a></li>
          <li *ngIf="!isAdminOfCurrentGroup(groupState.getCurrentGroup().groupId)" (click)="modalService.open(editGroupModal)"><a ngbDropdownItem><i class="fa-solid fa-pen-to-square fa-1x"></i> Edit</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="group-separator"><hr></div>

  <div class="group-members">
    <div *ngFor="let member of groupState.getCurrentGroupMembers()">
      <div class="group-member">
        <div class="group-member-option">
          <button class="btn btn-danger"
                  [ngClass]="{'myDisabled disabled': !isLoggedUserAdminOfCurrentGroup() || isAdminOfCurrentGroup(member.userId) || groupState.isGroupInPayingState()}"
                  (click)="kickGroupMember(member.userId)">
            x</button>
        </div>
        <div class="group-member-image">
          <img src="{{member.photoUrl}}" class="rounded-circle">
        </div>
        <div class="group-member-name">
          <h6 [ngClass]="{'red' : isAdminOfCurrentGroup(member.userId)}">{{member.username}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="payment-container">
  <button class="btn btn-success"
          [ngClass]="{'myDisabled disabled': !isLoggedUserAdminOfCurrentGroup() || groupState.getCurrentGroupMembers().length == 1 || groupState.isGroupInPayingState()}"
          (click)="modalService.open(confirmPaymentModal)">
    ✓ Pay ✓</button>
</div>

<ng-template #shareGroupModal let-modal>
  <div class="modal-header">
    <h2 style="text-align: center">Share</h2>
    <button class="btn-close" type="button" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body modal-body-centered">
    <h5 style="text-align: center" id="groupIdToShare">{{getURLForJoiningGroup()}}</h5>
  </div>
  <div class="modal-footer">
    <button type="submit" class="myButton myButton-footer" (click)="copyToClipboard(getURLForJoiningGroup())">Copy</button>
  </div>
</ng-template>

<ng-template #confirmPaymentModal let-modal>
  <div class="modal-header">
    <h2 style="text-align: center">Confirm payment</h2>
    <button class="btn-close" type="button" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body modal-body-centered">
    <h6>Are you sure to make the payment?</h6>
    <br>
    <h6>Total bill: {{currentGroup().money}}</h6>
    <h6>Total bill/member ~ {{calculateTotalMoneyPerMember()}} €</h6>
  </div>
  <div class="modal-footer payment-confirm-options">
    <button type="submit" class="btn btn-success" (click)="makePayment()">✓ Pay ✓</button>
    <button type="submit" class="btn btn-danger" (click)="closeModal()">✘ Cancel ✘</button>
  </div>
</ng-template>

<ng-template #errorPaymentModal let-modal>
  <div class="modal-header">
    <h2 style="text-align: center">¡ERROR!</h2>
    <button class="btn-close" type="button" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body modal-body-centered">
    <h5 class="red">Error while trying to make the payment</h5>
  </div>
  <div class="modal-footer payment-confirm-options">
    <button type="submit" class="myButton myButton-footer" (click)="this.closeModal()">✓ Ok ✓</button>
  </div>
</ng-template>

<ng-template #successPaymentModal let-modal>
  <div class="modal-header">
    <h2 style="text-align: center">¡Payment done!</h2>
    <button class="btn-close" type="button" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body modal-body-centered">
    <h6>The payment has been completed</h6>
  </div>
  <div class="modal-footer payment-confirm-options">
    <button type="submit" class="myButton myButton-footer" (click)="this.closeModal()">✓ Ok ✓</button>
  </div>
</ng-template>

<ng-template #editGroupModal let-modal>
  <form action="" [formGroup]="editGroupForm" (ngSubmit)="editGroupForm.valid && editGroup()">
    <div class="modal-header">
      <h2 style="text-align: center">Edit group</h2>
      <button class="btn-close" type="button" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body modal-body-centered">
      <input class="form-control"
             type="number"
             placeholder="New money"
             formControlName="newMoney"
             [ngClass]="{'is-invalid': newMoney.errors && (newMoney.touched || newMoney.dirty)}" />
      <br>
      <input class="form-control"
             type="text"
             placeholder="New description"
             formControlName="newDescription"
             [ngClass]="{'is-invalid': newDescription.errors && (newDescription.touched || newDescription.dirty)}" />
    </div>
    <div class="modal-footer payment-confirm-options">
      <button type="submit"
              class="myButton myButton-footer"
              [ngClass]="{'myDisabled cursor-disabled': !editGroupForm.valid}"
              (click)="editGroupForm.valid && this.closeModal()">✓ Edit ✓
      </button>
    </div>
  </form>
</ng-template>

<ng-template #paymentInitializedModal let-modal>
  <div class="modal-header">
    <h2 style="text-align: center" *ngIf="!donePaying">Group payment initialized</h2>
    <h2 style="text-align: center" *ngIf="donePaying">Group payment done</h2>

    <button class="btn-close" type="button" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body modal-body-centered">
    <p *ngIf="!donePaying">Group payment has been initalized, dont close the app yet, you are likely going to autorize the payment.</p>
    <p *ngIf="donePaying">Group payment done, thanks for using our service!!</p>
    <br>
    <div *ngFor="let log of logEventsGroupPayments">
      <div *ngIf="log.error">
        <h6 style="color: red">ERROR</h6>
        <p style="color: red">{{log.body}}</p>
        <br>
      </div>
      <div *ngIf="!log.error">
        <p>{{log.body}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit"
            class="myButton myButton-footer"
            (click)="this.closeModal()"
            [ngClass]="{'myDisabled cursor-disabled': !donePaying}">✓ Ok ✓
    </button>
  </div>
</ng-template>

