.group-container {
  position: absolute;

  border-radius: 0;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5% 5% auto;
}

.group-options-stats {
  display: flex;
  flex-direction: row;
  margin-left: 2.5%
}

.group-container .group-options {
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.group-container .group-members{
  margin-left: 1%;
}

.group-options{
  grid-row: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.group-options-options {
  margin-right: 6%;
}

.group-option-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

.dropdown ul li {
  cursor: pointer;
}

.group-separator{
  grid-row: 2;
}

.group-members{
  grid-row: 3;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.group-member {
  margin-top: 1%;

  display: grid;
  grid-template-columns: 3% 4% auto;
}

.group-member > * {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.group-member-image {
  grid-column: 2;
}

.group-member-image img {
  width: 60%;
  height: 100%;
}

.group-member-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  align-self: center;
  vertical-align: center;

  grid-column: 3;
}

.group-member-option {
  grid-column: 1;

  display: flex;
  justify-content: center;
}

.payment-container {
  position: fixed;
  top: 92.5%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-container button {
  width: 30%;
  height: 100%;
}

.payment-confirm-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.payment-confirm-options button {
  width: 40%;
}

@media screen and (max-width: 900px){
  .group-desc h3{
    display: none;
  }

  .group-data{
    margin-top: 4%;
  }

  .group-data h3{
    font-size: 17px;
  }

  .payment-container button {
    width: 70%;
    height: 100%;
  }

  .group-member {
    margin-top: 1%;

    display: grid;
    grid-template-columns: 15% 15% auto;
  }

  .group-member-image img {
    width: 60%;
    height: 100%;
  }

}
