<div class="group-container div-config-dif-background">
  <div class="group-options">
    <div class="group-options-stats">
      <div class="group-desc">
        <h3 class="group-desc">{{currentGroup().description}}- &nbsp;&nbsp;&nbsp;&nbsp;</h3>
      </div>
      <div class="group-data">
        <h3 *ngIf="!groupState.isGroupInPayingState()">Total {{currentGroup().money}}{{auth.getCurrency().symbol}} &nbsp;&nbsp;Total/Member ~ {{groupState.calculateTotalMoneyPerMember()}}{{auth.getCurrency().symbol}}</h3>
        <h3 *ngIf="groupState.isGroupInPayingState()">Paying in progress...</h3>
      </div>
    </div>
    <div class="group-options-options" *ngIf="!groupState.isGroupInPayingState()">
      <div ngbDropdown class="dropdown dropleft" placement="bottom-right">
        <button ngbDropdownToggle class="group-option-button" type="button" id="dropdownMenuButton1">
          <i class="fa-solid fa-bars fa-2x"></i>
        </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
          <li><a ngbDropdownItem (click)="openShareGroupModal()"><i class="fa-solid fa-share-nodes fa-1x"></i> Share</a></li>
          <li><a ngbDropdownItem (click)="leaveGroup()"><i class="fa-solid fa-arrow-right-from-bracket fa-1x"></i> Leave</a></li>
          <li *ngIf="isAdminOfCurrentGroup(auth.getUserId())" (click)="openEditGroupModal()"><a ngbDropdownItem><i class="fa-solid fa-pen-to-square fa-1x"></i> Edit</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="group-separator"><hr></div>

  <div class="group-members">
    <div *ngFor="let member of groupState.getCurrentGroupMembers()">
      <div class="group-member">
        <div class="group-member-option">
          <button class="btn btn-danger"
                  [ngClass]="{'myDisabled disabled': !isLoggedUserAdminOfCurrentGroup() || isAdminOfCurrentGroup(member.userId) || groupState.isGroupInPayingState()}"
                  (click)="kickGroupMember(member.userId)">
            x</button>
        </div>
        <div class="group-member-image">
          <img src="{{member.photoUrl}}" class="rounded-circle">
        </div>
        <div class="group-member-name">
          <h6 [ngClass]="{'red' : isAdminOfCurrentGroup(member.userId)}">{{member.username}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="payment-container">
  <button class="btn btn-success"
          [ngClass]="{'myDisabled disabled': !isLoggedUserAdminOfCurrentGroup() || groupState.getCurrentGroupMembers().length == 1 || groupState.isGroupInPayingState()}"
          (click)="openModalConfirmPayment()">
    ✓ Pay ✓</button>
</div>
