.group-member {
  margin-top: 1%;

  display: grid;
  grid-template-columns: 3% 4% auto;
}

.group-member > * {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.group-member-image {
  grid-column: 2;
}

.group-member-image img {
  width: 60%;
  height: 100%;
}

.group-member-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  align-self: center;
  vertical-align: center;

  grid-column: 3;
}

.group-member-option {
  grid-column: 1;

  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px){
  .group-member {
    margin-top: 1%;

    display: grid;
    grid-template-columns: 15% 15% auto;
  }

  .group-member-image img {
    width: 60%;
    height: 100%;
  }
}
