<div class="myContainer div-config-dif-background">
  <h1 style="text-align: center">Register</h1>
  <hr>

  <div *ngIf="httpLoader.isLoading | async">
    <p style="text-align: center">This may take some seconds</p>
    <br>
  </div>

  <div id="card-element" class="field"></div>

  <br><hr>

  <div class="options">
      <button
          type="submit"
          class="btn btn-primary option"
          (click)="registerCarDetails()"
          [ngClass]="{'disabled cursorLoading': this.httpLoader.isLoading | async}">
        Continue
      </button>
  </div>
</div>
